.col-md-4.col-md-offset-4.well.well-form
  %h2 Change your password

  = simple_form_for resource, as: resource_name,
                              url: password_path(resource_name),
                              html: { method: :put } do |f|

    = f.input :reset_password_token, as: :hidden
    = f.full_error :reset_password_token


    = f.input :password, required: true, label: "New password", autofocus: true
    = f.input :password_confirmation, required: true,
                                      label: "Confirm your new password"

    = f.button :submit, "Change my password",
                        class: 'btn-primary btn-block'

  = render "devise/shared/links"
