= simple_form_for @print_template, html: {id: 'print_template_form'} do |f|
  .row
    .col-sm-4
      = f.input :name
      = f.input :appraisal_template_id, as: :select, collection: AppraisalTemplate.all.pluck(:label, :id)
      = f.input :description
      = f.hidden_field :layout_type, value: params[:layout_type]
      = f.submit nil, class: "btn btn-primary"
      = link_to "Back", print_templates_path, class: "btn btn-default"
  #print_layout_content
    %h3 Page 1
    - price_fields = @print_template.print_template_blocks.numeric.by_page(0)
    .row
      - 6.times do |i|
        .col-sm-2
          = select_tag "price_fields[]", numeric_template_fields(price_fields[i].try(:blockable_id)), class: "form-control"

    %hr
    %label Manager Name
    .row
      .col-sm-4
        = select_tag "sales_manager", options_from_collection_for_select(User.sales_managers, 'id', 'name', @print_template.print_template_blocks.user_ids.first), class: "form-control"
    %hr
    %h3 Page 2
    - template_blocks = @print_template.print_template_blocks.where(blockable_type: %w(table divider))
    #appraisal_template.clearfix
      #container
        .sortable.clearfix
          - template_blocks.each_with_index do |block, index|
            - if block.blockable_type == 'table'
              .draggable
                %i.fa.fa-times.pull-right
                = select_tag "blocks[]", options_from_collection_for_select(AppraisalCategory.without_id, 'id', 'label', block.blockable_id), class: "form-control category"
                .text-center
                  %i.fa.fa-table.fa-3x
                .text-right
                  %a.show-property-modal{href: "#"} Set Properties
                = hidden_field_tag "section[]", "appraisal_section"
                = hidden_field_tag "block_type[]", block.blockable_type
                = hidden_field_tag "in_page[]", "1"
                = hidden_field_tag "hidden_fields[]", block.properties ? block.properties["hidden_fields"] : ""
            - else
              .divider.pull-left
                = hidden_field_tag "blocks[]", "-1"
                = hidden_field_tag "section[]", "appraisal_section"
                = hidden_field_tag "block_type[]", "divider"
                = hidden_field_tag "in_page[]", "1"
                = hidden_field_tag "hidden_fields[]", ""
      #clonable(data-spy="affix" data-offset-top="560")
        #table_block.draggable.pull-left
          %i.fa.fa-times.pull-right
          = select_tag "blocks[]", options_from_collection_for_select(AppraisalCategory.without_id, 'id', 'label'), class: "form-control category"
          .text-center
            %i.fa.fa-table.fa-3x
          .text-right
            %a.show-property-modal{href: "#"} Set Properties
          = hidden_field_tag "section[]", "appraisal_section"
          = hidden_field_tag "block_type[]", "table"
          = hidden_field_tag "in_page[]", "1"
          = hidden_field_tag "hidden_fields[]", ""
        .divider.pull-left
          = hidden_field_tag "blocks[]"
          = hidden_field_tag "section[]", "appraisal_section"
          = hidden_field_tag "block_type[]", "divider"
          = hidden_field_tag "in_page[]", "1"
          = hidden_field_tag "hidden_fields[]", ""
%br
%br
%br
= render "properties_modal"
